@layer base {
  a {
    @apply transition-colors;
    @apply text-brawn-yellow;
  }

  a:hover {
    @apply text-brawn-red;
  }

  body {
    background-image: url("../assets/grunge.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
}
