@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-brawn-white: #feffff;
  --color-brawn-gray: #20303f;
  --color-brawn-yellow: #b8fd6e;
  --color-brawn-black: #142127;
  --color-brawn-red: #bd2e40;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  a {
    @apply transition-colors;
    @apply text-brawn-yellow;
  }

  a:hover {
    @apply text-brawn-red;
  }
}

@utility grungy {
  mask-image: url("/grunge.png");
}

@utility fancy-ass-label {
  @apply bg-brawn-red;
  @apply text-brawn-white;
  @apply px-2;
  @apply py-1;
  @apply md:py-2;
  @apply rounded-sm;
  @apply -rotate-1;
  @apply inline-block;
  @apply font-bold;
  @apply grungy;

  &.gimmie-yellow {
    @apply bg-brawn-yellow;
    @apply text-brawn-gray;
  }
}

@utility gimmie-yellow {
  &.fancy-ass-label {
    @apply bg-brawn-yellow;
    @apply text-brawn-gray;
  }
}
