---
import Page from "../components/Page.astro";
---

<Page lang="de" title="smetz.dev | Imprint">
  <main class="max-w-4xl mx-auto p-8 pt-16 prose prose-invert">
    <a class="text-brawn-yellow" href="/">Back Home</a>
    <h1 class="mt-8">Impressum</h1>
    <p>
      <strong>Angaben gemäß § 5 TMG:</strong><br />
      Sascha Metz
    </p>

    <strong>Postanschrift:</strong>
    <address>Karl-Schurz-Straße 8a 66119 Saarbrücken</address>

    <p>
      <strong>Kontakt:</strong>
      E-Mail: hello@smetz.dev
    </p>

    <p>
      <strong>Vertreten durch:</strong>
      Sascha Metz
    </p>
  </main>
</Page>
