---
import "../styles/tailwind.css";
import Intro from "../components/Intro.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hello @smetz.dev</title>
    <meta
      name="description"
      content="Sascha Metz - Webdeveloper based in Saarbrücken, Germany"
    />
  </head>
  <body class="bg-brawn-black text-brawn-white">
    <main class="max-w-4xl mx-auto p-8 pb-32">
      <Intro />
      <Projects />
    </main>
    <Footer />
  </body>
</html>
