---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import smetzDevImage from "../assets/smetzdev-casual.jpg";
import { Social } from "../components/Social";
import UnderConstruction from "../components/UnderConstruction.astro";
---

<Layout title="Hello @smetz.dev">
  <main class="h-screen flex flex-col justify-center max-w-3xl mx-auto p-8">
    <header class="flex items-center space-x-4 max-w-xl">
      <Image
        width={160}
        height={160}
        src={smetzDevImage}
        class="rounded-full h-20 w-20"
        alt="Sascha Metz in casual look"
      />
      <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">
        Yet another Webdeveloper
      </h1>
    </header>
    <div class="mt-6 text-xl leading-loose">
      <p>
        Hey there!👋
        <br />
        I’m Sascha, based in
        <a href="https://www.youtube.com/watch?v=Jkyg9GrvTeg" target="_blank">
          Saarbrücken, Germany
        </a>.
      </p>
      <p class="mt-4">
        I started building websites back in 2012 and consider myself a
        <a target="_blank" href="https://www.youtube.com/watch?v=HtTUsOKjWyQ">
          professional
        </a> since 2015. I've spent my first years building WordPress sites, today
        i work on many different projects, at the moment mainly at
        <a target="_blank" href="https://gorilla.build/">Gorilla</a>.
      </p>
      <p class="mt-4">
        I am open for new projects, so if you need help with your website or
        want to build the next big thing feel free to
        <a href="mailto:hello@smetz.dev">Send me a message</a>.
      </p>
      <Social />
    </div>
  </main>
</Layout>
