---
import { twMerge } from "tailwind-merge";
const { class: className, href } = Astro.props;
const styles = twMerge(
  "bg-brawn-yellow text-brawn-gray rounded-lg text-center px-4 py-2 inline-block transition-transform",
  "hover:scale-105",
  className
);
---

<a class={styles} target="_blank" href={href}>
  <slot />
</a>
