---
import Workplace from "./Workplace.astro";
---

<section x-show="$store.showCV">
  <h2 class="font-medium text-2xl md:text-4xl">Work Places</h2>
  <p class="text-xl md:text-2xl mt-4 !leading-relaxed text-pretty">
    These are the stations where my career took me so far, call it a CV<br />
    ...at the bottom of the website.
  </p>

  <ul
    class="bg-gray-800 flex flex-col rounded-md mt-8 divide-y divide-gray-700 px-8"
  >
    <Workplace
      company="Gorilla"
      companyLink="https://gorilla.build/"
      job="Software Enginner"
      yearsActive="2021 - present"
    />
    <Workplace
      company="Holoux"
      companyLink="https://hololux.de/"
      job="Software Enginner"
      yearsActive="2023 - present"
    />
    <Workplace
      company="Browsaar"
      companyLink="https://browsaar.de"
      job="CEO, CTO & Founder 😎"
      yearsActive="2023 - present"
    />
    <Workplace
      company="Azury Living"
      companyLink="https://azury.de/"
      job="Fullstack Web-Developer"
      yearsActive="2020 - 2023"
    />
    <Workplace
      company="raum3"
      companyLink="https://raum3.de"
      job="Web-Developer"
      yearsActive="2015 - 2020"
    />
  </ul>
</section>
