---
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-800">
  <div class="max-w-4xl mx-auto p-8">
    &copy; {currentYear} Sascha Metz | Made with <a
      href="https://astro.build"
      target="_blank">Astro</a
    >
  </div>
</footer>
