---
import { Image } from "astro:assets";
import smetzDevImage from "../assets/smetzdev-pixelart.png";
import Social from "./Social.astro";
import Paragraph from "./Card/Paragraph.astro";
---

<section class="min-h-svh flex flex-col justify-center py-16 landscape:py-8">
  <header
    class="flex items-center space-x-2 max-w-2xl -translate-x-4 md:-translate-x-6 relative group"
  >
    <Image
      width={560}
      height={560}
      src={smetzDevImage}
      class="h-32 w-32 md:h-52 md:w-52"
      alt="Sascha Metz in casual look"
      fetchpriority="high"
      loading="eager"
    />
    <img
      class="w-6 h-auto absolute top-0 left-0 translate-y-[48px] translate-x-[72px] md:w-8 md:translate-x-[122px] md:translate-y-[80px] opacity-0 group-hover:opacity-100 group-active:opacity-100 transition-opacity"
      src="sunglasses.png"
      alt=""
      loading="lazy"
      decoding="async"
    />
    <h1 class="text-3xl sm:text-5xl font-bold tracking-tight">
      <span class="px-2 pb-1 md:pb-2 inline-block">Yet another</span>
      <span class="fancy-ass-label gimmie-yellow"> Web Developer </span>
    </h1>
  </header>
  <div class="mt-2">
    <Paragraph>
      Hey there!
      <br />
      I’m Sascha, based in
      <a href="https://www.youtube.com/watch?v=Jkyg9GrvTeg" target="_blank" rel="noopener noreferrer">
        Saarbrücken, Germany
      </a><br class="max-md:hidden" />and I make things appear in your browser.
    </Paragraph>
    <Paragraph class="mt-4">
      I started building websites in 2012 and have considered myself a
      <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=HtTUsOKjWyQ">
        professional
      </a> since 2015. I spent my first years building WordPress sites; nowadays I
      work on many different projects, mainly at
      <a target="_blank" rel="noopener noreferrer" href="https://pocketrocket.de/">Pocket Rocket</a>.
    </Paragraph>
    <div class="mt-12">
      <Social />
    </div>
  </div>
</section>
