---
import { Image } from "astro:assets";
import smetzDevImage from "../assets/smetzdev-colorful.png";
import ButtonLink from "../components/ButtonLink.astro";
import { Social } from "./Social";
import Paragraph from "./Card/Paragraph.astro";
---

<section class="min-h-screen flex flex-col justify-center">
  <header
    class="flex items-center space-x-2 max-w-xl -translate-x-4 md:-translate-x-6 relative group"
  >
    <Image
      width={280}
      height={280}
      src={smetzDevImage}
      class="h-32 w-32 md:h-52 md:w-52"
      alt="Sascha Metz in casual look"
    />
    <img
      class="w-6 h-auto absolute top-0 left-0 translate-y-[40px] translate-x-[50px] md:w-8 md:translate-x-[90px] md:translate-y-[65px] opacity-0 group-hover:opacity-100 transition-opacity"
      src="sunglasses.png"
      alt=""
    />
    <h1 class="text-3xl sm:text-4xl font-bold tracking-tight sm:text-5xl">
      <span class="px-2 pb-1 md:pb-2 inline-block">Yet another</span>
      <span class="fancy-ass-label gimmie-yellow"> Webdeveloper </span>
    </h1>
  </header>
  <div class="mt-2">
    <Paragraph>
      Hey there!👋
      <br />
      I’m Sascha, based in
      <a href="https://www.youtube.com/watch?v=Jkyg9GrvTeg" target="_blank">
        Saarbrücken, Germany
      </a> and I make things appear in your browser.
    </Paragraph>
    <Paragraph class="mt-4">
      I started building websites back in 2012 and consider myself a
      <a target="_blank" href="https://www.youtube.com/watch?v=HtTUsOKjWyQ">
        professional
      </a> since 2015. I've spent my first years building WordPress sites, today
      i work on many different projects, until October mainly at
      <a target="_blank" href="https://gorilla.build/">Gorilla</a>.
    </Paragraph>
    <Paragraph class="mt-4">
      I am open for new projects, so if you need help with your website or want
      to build the next big thing feel free to
      <a
        href="mailto:hello@smetz.dev?subject=I really think you are one hell of a developer!"
      >
        send me a message
      </a>.
    </Paragraph>
    <div class="flex items-center space-x-4 mt-12">
      <ButtonLink href="https://cal.com/smetzdev">Book a call</ButtonLink>
      <Social />
    </div>
  </div>
</section>
