---
import "../styles/tailwind.css";
import Footer from "../components/Footer.astro";

const { lang = "en", title } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Making things appear in your browser since 2012"
    />
  </head>
  <body
    class="bg-brawn-black text-brawn-white selection:bg-brawn-yellow selection:text-brawn-black md:bg-[url('../assets/grunge.jpg')] md:bg-cover md:bg-fixed font-mono"
  >
    <slot />
    <Footer />
  </body>
</html>
